[Unit]
Description=HP Wireless Keyboard Hacked Driver
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/bin/bash /usr/local/bin/hp_keyboard.sh
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hp_keyboard

[Install]
WantedBy=multi-user.target
